
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 90%;
}
.about-title{
    color: rgba(245, 250, 255, 0.7);
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    animation: custom-effect-desktop 2s ;
}
.about-container{
    display: inherit;
    flex-direction: column;
    align-items: center;
}
.about-container > h5{
    color: rgba(250, 235, 215, 0.674);
    max-width: 900px;
    font-weight: 500;
    text-align: justify;
    font-size: 20px;
    margin: 30px;
}
.about-links{
    display: flex;
}
.about-links > a{
    font-size: 30px;
    margin: 5px;
    color: rgb(11, 4, 4);
}
@media screen and (max-width:768px) {
    .about{
        width: 70%;
        top: 80px;
        left: 50px;
    }
    .about-title {
        padding-top: 10px;
        font-size: 25px;
        animation: custom-effect-mobile 2s;
    }
        .about-container>h5 {
            font-size: 12px;
            max-width: 300px;
            margin: 10px;
        }
    .about-links>a {
        font-size: 20px;
    }
}
@media screen and (max-height:400px) {
    .about {
        width: 80%;
        top: 40px;
        left: 40px;
        padding-left: 20px;
    }

    .about-title {
        padding-top: 10px;
        font-size: 30px;
        animation: custom-effect-tablet 2s;
    }

    .about-container>h5 {
        font-size: 14px;
        max-width: 400px;
        margin: 10px;
    }

    .about-links>a {
        font-size: 23px;
    }
}
@keyframes custom-effect-desktop {
    0% {
       transform: translate(-600px,-10px)scale(0.6)
    }

    100% {
        transform: translateX(0px)scale(1);
    }

}
@keyframes custom-effect-mobile {
    0% {
        transform: translate(-150px,-90px)scale(0.5)
    }

    100% {
        transform: translateX(0px)scale(1);
    }

}
@keyframes custom-effect-tablet {
    0% {
        transform: translate(-280px, -50px)scale(0.7)
    }

    100% {
        transform: translateX(0px)scale(1);
    }

}