.favourite-queue{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:80%;
    top: 100px;
    padding-left: 100px;
  
}
.no-fav-song{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    height: 200px;
    padding: 10px;
    padding-left: 130px;

    margin: 20px;
}
.fav-heading{
    color: rgba(240, 248, 255, 0.578);
    font-size: 30px;
    padding: 10px;
    padding-left: 150px;
}
.no-fav-song>p {
    max-width: 300px;
    margin: 20px;
    text-align: center;
}
.fav-songs-list{
    width: 80%;
   height: 400px;
    overflow: scroll;
}
@media screen and (max-width:768px) {
    .favourite-queue {
        width: 95%;
        padding-left:0px;
    }
    .fav-heading {
        padding-left: 20px;
        font-size: 13px;
    }
    .no-fav-song {
       padding-left: 15px;
    }
    .fav-songs-list {
        height: 400px;
    }
}
@media screen and (max-height:400px) {

    .fav-heading {
        font-size: 20px;
    }
    .favourite-queue {
        top:80px;
        width: 80%;
        padding-left: 70px;
    }
    .fav-songs-list{
        height: 150px;
    }

}