.thumbnail{
    position: fixed;
    width: 100%;
    height: 100%;
    background-size:cover;
    background-blend-mode: color    ;
    background-color: rgba(0,0,0,0.4);
    --player-button-width: 3em;
    
}
.song-title{
    color: white;
}
.controls-all{
    position: fixed;
    width: 100%;
    bottom: 0%;
}
.controls {
    height: 90px;
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to right, rgba(126, 186, 255,0.3), rgba(65, 66, 140,0.3));
}
.timeline{
    -webkit-appearance: none;
    position: relative;
    top: 5px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgba(126, 186, 255, 0.3);
    border-radius: 0px;
    height: 12px;
    background-size: 0% 100%;
    background-image: linear-gradient(to right,
        rgba(255, 255, 255),
        rgba(172, 173, 255, 0.5));
    background-repeat: no-repeat;
}
.timeline::-webkit-slider-thumb { 
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .1s;
    background-color: aliceblue
}

.timeline::-webkit-slider-runnable-track {
 
  box-shadow: none;
  border: none;
  background: transparent;
}



.timeline:hover::-webkit-slider-thumb {
    opacity: 1;
}
.player-button {
    border: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 25px;
    margin: 0;
    padding: 0;
}

svg{
    filter: invert(79%) sepia(17%) saturate(491%) hue-rotate(188deg) brightness(102%) contrast(90%);;
    
}
svg:hover {
    filter: invert(90%) sepia(17%) saturate(491%) hue-rotate(188deg) brightness(102%) contrast(90%);
    ;
    transform: scale(1.2);
}
.player-button>svg {
    height: 50px;
}
.playback-controls{
    display: flex;
    align-items: center;
}

/* audio::-webkit-media-controls-panel {
    background: linear-gradient(to right,rgb(126, 186, 255),rgb(65, 66, 140));
 }
audio::-webkit-media-controls-play-button:hover{
    background-color: rgb(188, 203, 242);
    border-radius: 15px;
} 
audio::-webkit-media-controls-mute-button:hover{
    background-color: rgb(188, 203, 242);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
        
}

audio::-webkit-media-controls-current-time-display,audio::-webkit-media-controls-time-remaining-display{
    color: rgb(0, 0, 122);
    font-weight: bolder;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
audio::-webkit-media-controls-timeline:hover{
    background: linear-gradient(to right, rgb(101, 170, 255), rgb(70, 70, 140));
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}


audio::-webkit-media-controls-volume-slider{
    background-color: rgb(188, 203, 242);
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding-left: 4px;
    
}
audio::-webkit-media-controls-volume-slider:hover{
    border-radius: 15px;
    padding-right: 4px;
}
audio::-webkit-media-controls-seek-back-button{
    display: -webkit-box;
    visibility: visible;
}
audio::-webkit-media-controls-seek-forward-button{

}
audio::-webkit-media-controls-fullscreen-button{

}
audio::-webkit-media-controls-rewind-button{

}
audio::-webkit-media-controls-return-to-realtime-button{

}
audio::-webkit-media-controls-toggle-closed-captions-button{

} */