.thumbnail{
    position: fixed;
    width: 100%;
    height: 100%;
    background-size:cover;
    background-blend-mode: color    ;
    background-color: rgba(0,0,0,0.4);
    --player-button-width: 3em;
}
.song-title {
    margin-right: 5px;
    font-size: 25px;
    margin-bottom: 5px;;
    text-align: center;
    color: rgba(215, 215, 234,0.9)
}
.song-title>span {
    margin-right: 4px;
}
.artist-title {
    position: relative;
    width: fit-content;
    font-size: 14px;;
    text-align: center;
    color: rgba(223, 223, 255, 0.753)
}
.artist-title:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.main-content{
    position: relative;
    top: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
}
@media screen and (max-width:768px) {
.song-title{
    font-size: 15px;
    
}
.artist-title {
    font-size: 12px;
}
.main-content {
    width: 100%;
    margin:    0px;
}
/* .main-content{
   
} */
}