.thumbnail{
    position: fixed;
    width: 100%;
    height: 100%;
    background-size:cover;
    background-blend-mode: color    ;
    background-color: rgba(0,0,0,0.4);
    --player-button-width: 3em;
}
.song-title {
    margin-right: 5px;
    font-size: 25px;
    margin-bottom: 5px;;
    text-align: center;
    color: rgba(215, 215, 234,0.9)
}
.song-title>span {
    margin-right: 4px;
}
.artist-title {
    position: relative;
    width: fit-content;
    font-size: 14px;;
    text-align: center;
    color: rgba(223, 223, 255, 0.753)
}
.artist-title:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.main-content{
    position: relative;
    top: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
}
/* audio::-webkit-media-controls-panel {
    background: linear-gradient(to right,rgb(126, 186, 255),rgb(65, 66, 140));
 }
audio::-webkit-media-controls-play-button:hover{
    background-color: rgb(188, 203, 242);
    border-radius: 15px;
} 
audio::-webkit-media-controls-mute-button:hover{
    background-color: rgb(188, 203, 242);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
        
}

audio::-webkit-media-controls-current-time-display,audio::-webkit-media-controls-time-remaining-display{
    color: rgb(0, 0, 122);
    font-weight: bolder;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
audio::-webkit-media-controls-timeline:hover{
    background: linear-gradient(to right, rgb(101, 170, 255), rgb(70, 70, 140));
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}


audio::-webkit-media-controls-volume-slider{
    background-color: rgb(188, 203, 242);
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding-left: 4px;
    
}
audio::-webkit-media-controls-volume-slider:hover{
    border-radius: 15px;
    padding-right: 4px;
}
audio::-webkit-media-controls-seek-back-button{
    display: -webkit-box;
    visibility: visible;
}
audio::-webkit-media-controls-seek-forward-button{

}
audio::-webkit-media-controls-fullscreen-button{

}
audio::-webkit-media-controls-rewind-button{

}
audio::-webkit-media-controls-return-to-realtime-button{

}
audio::-webkit-media-controls-toggle-closed-captions-button{

} */