.song-queue{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.song-queue-item,.song-queue-item-all-songs{
    display: grid;
    padding: 5px;
    border-radius: 10px;
    grid-template-columns: 1fr 2fr 1fr;
    height: 65px;
}
.song-queue-item{
    animation: left-in 1s;
    animation-iteration-count: 1
}
.songs-list-container{
    overflow-y:scroll;
    overflow-x:hidden;
    height: 350px;
    padding: 0px;
    margin: 0px;
    
}

.song-details{
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: left;
    justify-content: center;
    width: 100%;
}
::-webkit-scrollbar{
    width: 0px;
}

::-webkit-scrollbar-corner{
    width: 0;
}

.song-details > h5{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.599);
    
}
.song-details>h6 {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
}
.song-queue-item{
    width: 100%;
}
.song-queue-item:hover,.song-queue-item-all-songs:hover{
    background-color: rgba(240, 248, 255, 0.093);
    cursor: pointer;
}
.song-image-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.song-image {
    width: 80px;
    margin: 5px;
    border-radius: 5px;
    opacity: 0.7;
}
.song-queue-play{
    position: absolute;
    transform: scale(1.5);
    display: none;
    padding: 0px;
    filter: invert(0%) sepia(17%) ;
}
.song-queue-item:hover  .song-queue-play {
    display: block;
}
.song-queue > h2{
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    margin-bottom: 10px;
}
.song-attributes{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}
.no-song-queue{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    height: 100px;
    padding: 10px;
    margin: 20px;
}
.no-song-queue>p{
    max-width: 200px;
    margin: 20px;
    text-align: center;
}

#active-song{
    background-color: rgba(240, 248, 255, 0.093);
}
.emoji > .happy{
    display: none;
}
.emoji:hover > .happy{
    display: block;
}
.emoji:hover > .sad{
    display: none;
}
.song-search{
    width: 40%;
    height: 25px;
    padding: 5px;
    outline: 0;
    background-color: rgba(96, 143, 172, 0.204);
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
    border: 0px;
    margin-bottom: 10px;
}
@media screen and (max-width:768px) {
    .song-queue-item,.song-queue-item-all-songs{
        height: 50px;
        margin: 2px;
    }
    .song-details>h5 {
        font-size: 12px;
    }
    .song-details>h6{
        font-size: 11px;
    }
    .song-image {
        width: 40px;
        margin: 2px;
    }
    .song-queue>h2 {
        font-size: 15px;
    }
    .songs-list-container{
        height: 500px;
    }
    .no-song-queue>p {
        margin: auto;
        font-size: 12px;
    }
}
@keyframes left-in {
    0% {
        transform: translateX(30px);
    }    
    100%{
        transform: translateX(0px);
    }
}

